buffers {
  size_kb: 2048
}

buffers {
  size_kb: 63488
}

#data_sources {
#  config {
#    name: "linux.process_stats"
#    target_buffer: 0
#    process_stats_config {
#      proc_stats_poll_ms: 100
#    }
#  }
#}

duration_ms: 5000
#duration_ms: 5000
write_into_file: true
flush_timeout_ms: 30000
flush_period_ms: 604800000

data_sources {
  config {
    name: "linux.perf"
    target_buffer: 1
    perf_event_config {
      timebase {
        counter: SW_CPU_CLOCK
        frequency: 100
        timestamp_clock: PERF_CLOCK_MONOTONIC
      }
      callstack_sampling {
        scope {
          target_cmdline: "camerahalserver"
        }
        kernel_frames: false
      }
    }
  }
}
